{% extends '_base.html' %}
{% load static %}

{% block title %}Домашняя страница{% endblock title %}

{% block content %}
  <h1>Домашняя страница</h1>
  <img class="bookcover" src="{% static 'images/dfp_cover_31.png' %}">
  {% if user.is_authenticated %}
    <p>Hi, {{ user.email }}!</p>
    <p><a href="{% url 'account_logout' %}">Выход</a></p>
  {% else %}
    <p>Вы не вошли в систему</p>
    <a href="{% url 'account_login' %}">Войти</a>
    <a href="{% url 'account_signup' %}">Регистрация</a>
  {% endif %}
{% endblock content %}